html, body {
    margin: 0;
}
* {
    font-family: Helvetica, sans-serif;
}
body {
    background-color: rgba(144, 155, 172, 0.08);
}
.navbar-toggler {
    border: 0px !important;
}
#navbar {
    background-color: white;
    box-shadow: 0 4px 4px #0000000a,0 12px 24px #0000000d;
}

#brand-card {
    min-width: 19em;
    max-width: 20rem;
    margin: 1px;
}

#brand-card .brand-card-icon {
    width: 1rem;
    fill: none;
    stroke-width: 2;
}

#brand-avatar {
    border: 1px solid #e98300
}

#history-button {
    background-color: white;
}

.badge {
    background-color: rgba(144, 155, 172) !important;
}

#help-button {
    background-image: radial-gradient(93.54% 235.77% at 3.38% 14.65%, #DEF133 0%, #4BB4FF 100%);
    border: 0;
    color: black;
}

.pre {
    white-space: pre;
}

.form-switch {
    transform: scale(1.4, 1.5) !important; 
    transform-origin: center !important;
}

.form-switch .form-check-input {
    background-color: lightgrey;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

.form-switch input::after {
    color: purple;
}

.form-switch .form-check-input:focus {
    box-shadow: 0 0 0 0;
    border: 0;
}

.form-switch .form-check-input:checked {
    box-shadow: 0 0 0 0;
    background-color: #2488CF
}

.d-flex {
    gap: 10px;
}

.no-gap {
    gap: 0;
}

#instructions-input:focus {
    outline: 0 none;
}

#instructions-input::placeholder {
    color: lightgrey;
    font-size: .9rem;
}

#vibe-select {
    background-position: top right 10px;
    background-size: 1.2rem;
}

#vibe-select:focus {
    box-shadow: none;
}

#format-card:hover {
    cursor: pointer;
}

#floating-select {
  background-color: #fff;
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  /* display: none; */
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#floating-select[data-show] {
    display: block;
}

#floating-select, .floating-select__option:hover {
    cursor: pointer;
}

#floating-selection {
    background-color: black;
    color: white;
}

.floating-select__option {
    text-align: center;
    margin: .3rem 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-select__option__text {
    text-align: center;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  /* background: black; */
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#floating-select[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#floating-select[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}
  
#floating-select[data-popper-placement^='left'] > #arrow {
  right: -4px;
}
  
#floating-select[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

#generate-button {
    background-color: rgb(36, 136, 207);
}
#generate-button:hover {
    background-color: #4BB4FF
}

#support {
    width: 48px;
    height: 48px;
    border: 0;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    bottom: 20px;
    right: 20px;
    background-color: #4BB4FF
}

#support svg {
    width: 24px;
    height: 24px;
}

#support path {
    fill: #fff;
}